{% extends "index.html" %}
{% block content %}

<div class='container'>
	<h3 text-align='center'>Features repartition</h3>
	<img src="/static/images/features_repartition.png"/>
	<h3>Heatmap</h3>
	<img src="/static/images/heatmap.png"/>
	<h3>Example of 7 classes repartition</h3>
	<img src="/static/images/classes_repartition.png"/>
	<br/>
	<h3 text-align='center'>Binary classes in function of features (Cannabis)</h3>
	<img src="/static/images/cannabis.png" height=400/>
	<h3 text-align='center'>Example of Confusion matrix for logistic regression (Cannabis)</h3>
	<img src="/static/images/confusion_matrix.png"/>
	<h3 text-align='center'>Models accuracy results (Cannabis)</h3>
	<img src="/static/images/model_results.png"/>
<div/>
{% endblock %}
